---
layout: default
---

<h1>{{ page.title }}</h1>

<h2>Description</h2>
{{ page.a }}


{% if page.risk %}
<br /><br />
Risk Assesment: {{ page.risk }}
{% endif %}

<h2>CWE</h2>
{% for cwe in page.cwe %}

<p><a href="https://cwe.mitre.org/data/definitions/{{ cwe }}.html" target="_blank">{{ cwe }}</a></p>

{% endfor %}

<h2>CVE</h2>

{% for cve in page.cve %}

<p><a href="https://www.cve.org/CVERecord?id=CVE-{{ page.year }}-{{ cve }}" target="_blank">{{ cve }}</a></p>

{% endfor %}


<h2>Attack Surfaces</h2>

{% for ad_surf in page.surf %}

{% for surf_dict in site.data.dicts.bt.surf %}

{% if surf_dict[0] contains ad_surf or surf_dict[1].alias contains ad_surf %}
<p><a href="../map_bt.html#{{ surf_dict[0] | slugify: "ascii" }}">{{ surf_dict[0] }}</a> {% if surf_dict[1].pid %} (<a href="https://emb3d.mitre.org/properties-mapper/?id=PID-{{ surf_dict[1].pid }}" target="_blank">MITRE EMB3D PID-{{ surf_dict[1].pid }}</a>) {% endif %}</p>
{% endif %}

{% endfor %}

{% endfor %}

<h2>Attack Vectors</h2>

{% for vect_obj in site.data.dicts.bt.vect %}

{% for ad_vect in page.vect %}
{% if vect_obj[0] contains ad_vect or vect_obj[1].alias contains ad_vect %}
<p> {{ vect_obj[0] }} {% if vect_obj[1].tid %} (<a href="https://emb3d.mitre.org/threats/TID-{{ vect_obj[1].tid }}.html" target="_blank">MITRE EMB3D TID-{{ vect_obj[1].tid }}</a>) {% endif %} </p>
{% endif %}
{% endfor %}

{% endfor %}


<h2>Defenses</h2>


{% for ad_def in page.d %}

<p> {{ ad_def | join: ", " }} </p>

{% endfor %}


